<main class="center" id="main">
  <div class="page-area">

    <!-- This is a Semantic HTML Change  -->
    <section class="page-area">

      <pb-article>
        <h1>Stay on track</h1>
        <p>
          Do you know where you are spending your money? If you really stop to track it down,
          you would get surprised! Proper budget management depends on real data... and this
          app will help you with that!
        </p>
      </pb-article>
    </section>

    <pb-article>
      <h1>Alerts</h1>
      <p>
        What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
      </p>
    </pb-article>

    <pb-article>
      <h1>Results</h1>
      <p>
        People who stick to a financial plan, budgeting every expense, get out of debt faster!
        Also, they live happier lives... since they expend without guilt or fear...
        because they know it is all good and accounted for.
      </p>
    </pb-article>

    <pb-article>
      <h1>Free</h1>
      <p>
        This app is free!!! And you are the only one holding your data!
      </p>
    </pb-article>

    <!-- Duplicate Stay on Track and Alerts pb-articles removed for clarity -->

    <!-- This is an A11y Change -->
    <article aria-live="polite">
      <h2>Chart</h2>
      <p id="chart-description">This Chart will show your budget in a pie chart.</p>
      <p>
        <canvas id="myChart" width="400" height="400" aria-describedby="chart-description"></canvas>
      </p>
    </article>

    <!-- Correct D3js Section -->
    <pb-article aria-live="polite">
      <h2>D3js</h2>
      <p id="d3chart-description">This section will show D3js chart visualization.</p>
      <!-- Use a div for the D3 chart if it is not using a canvas -->
      <div id="d3Chart" aria-describedby="d3chart-description" style="width: 350px; height: 350px;"></div>
    </pb-article>
  </div>
</main>
